apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "redis.fullname" . }}-config
  labels:
{{- include "redis.labels" . | nindent 4 }}
data:
  redis.conf: |
{{- include "redis.config" . | nindent 4 }}
